@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Fira Sans";
    background-color: #F1F1F3;
}

/* nav styles */
header {
    /* margin-bottom: 80px; */
}

.nav-bar {
    display: flex;
    padding: 24px 160px;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.btn-signin {
    border-radius: 8px;
    border: 1px solid #006A50;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
}

/* banner styles */

.banner {
    display: flex;
    padding: 80px 100px;
    margin: 0 160px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-radius: 24px;
    background: none;
    background-color: #C6E4D6;
}

.banner-details {
    background-color: #C6E4D6;
}

.banner-sub-title {
    font-size: 24px;
    font-size: 500;
    color: rgba(14, 14, 14, 0.50);
    background: none;
    margin-bottom: 16px;
}


.banner-title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
    background: none;
}

.btn-primary {
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    border: none;
    background-color: #006A50;
}

.banner img {
    background: none;
}

/* pillars section styles */

.pillars {
    margin: 80px 160px;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 35px;
}

.pillars-container {
    display: flex;
    gap: 25px;
}

.pillar {
    width: 350px;
    padding: 24px;
    border-radius: 16px;
    background-color: #FFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillar-title{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.80);
    background: none;
    margin: 30px 0 10px 0;
}

.pillar-description{
    color: rgba(14, 14, 14, 0.70);
    background: none;
}

.pillar img{
    background: none;
}