@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Fira Sans";
    background-color: #F1F1F3;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 24px 160px;
}

.nav-title {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: 700;
}

.idea {
    border: none;
    background: #C6E4D6;
    margin: 20px 160px;
    padding: 80px 100px;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C6E4D6;

}

.mini-title {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E80;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.banner img{
    background-color: #C6E4D6;;
}
